<div id='page-container'>
    <div id="header">
        <nav>
            <a href="/">Home</a>
            <a href="map">Map</a>
            <a href="profile">Profile</a>
        </nav>
    </div>
</div>